
# =========================
# Windows
# =========================

Thumbs.db


# =========================
# OSX
# =========================

.DS_Store
._*


# =========================
# Project specific
# =========================

*.psd
brouillon.html
devlog.txt

